n8n-workflow-google-sheets.json
{
  "name": "ML-MP Exportar para Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 6 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Executar a cada 6 horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://n8n-conciliacao-api.zgbjol.easypanel.host/reports/orders/details?startDate={{ $now.minus({days: 7}).toFormat('yyyy-MM-dd') }}&endDate={{ $now.toFormat('yyyy-MM-dd') }}&limit=500",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-orders",
      "name": "1. Buscar Pedidos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID",
          "name": "x-api-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrair array de data\nconst response = $input.first().json;\nconst orders = response.data || [];\n\n// Retornar cada pedido como item separado\nreturn orders.map(order => ({\n  json: {\n    pedidoId: order.pedidoId,\n    data: order.data,\n    status: order.status,\n    produto: order.produto,\n    quantidade: order.quantidade,\n    valorProduto: order.valorProduto,\n    taxaVenda: order.taxaVenda,\n    taxaML: order.taxaML || 0,\n    taxaMP: order.taxaMP || 0,\n    frete: order.frete || 0,\n    totalLiquido: order.totalLiquido,\n    sku: order.sku || ''\n  }\n}));"
      },
      "id": "transform-data",
      "name": "2. Transformar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "SEU_SPREADSHEET_ID_AQUI"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Pedidos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Pedido": "={{ $json.pedidoId }}",
            "Data": "={{ $json.data }}",
            "Status": "={{ $json.status }}",
            "Produto": "={{ $json.produto }}",
            "Quantidade": "={{ $json.quantidade }}",
            "Valor Produto": "={{ $json.valorProduto }}",
            "Taxa Venda": "={{ $json.taxaVenda }}",
            "Taxa ML": "={{ $json.taxaML }}",
            "Taxa MP": "={{ $json.taxaMP }}",
            "Frete": "={{ $json.frete }}",
            "Total Líquido": "={{ $json.totalLiquido }}",
            "SKU": "={{ $json.sku }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "google-sheets",
      "name": "3. Salvar no Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [850, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Executar a cada 6 horas": {
      "main": [[{ "node": "1. Buscar Pedidos", "type": "main", "index": 0 }]]
    },
    "1. Buscar Pedidos": {
      "main": [[{ "node": "2. Transformar Dados", "type": "main", "index": 0 }]]
    },
    "2. Transformar Dados": {
      "main": [[{ "node": "3. Salvar no Google Sheets", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
