n8n-workflow-conciliacao.json
{
  "name": "ML-MP Conciliação Financeira",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 6}]
        }
      },
      "id": "trigger-schedule",
      "name": "Executar a cada 6 horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-conciliacao-api.zgbjol.easypanel.host/sync/ml/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"days\": 7}",
        "options": {}
      },
      "id": "sync-ml-orders",
      "name": "1. Sincronizar Pedidos ML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300],
      "credentials": {"httpHeaderAuth": {"id": "API_KEY_CREDENTIAL_ID", "name": "ML-MP API Key"}}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-conciliacao-api.zgbjol.easypanel.host/sync/mp/movements",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"days\": 7}",
        "options": {}
      },
      "id": "sync-mp-movements",
      "name": "2. Sincronizar Movimentos MP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 300],
      "credentials": {"httpHeaderAuth": {"id": "API_KEY_CREDENTIAL_ID", "name": "ML-MP API Key"}}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-conciliacao-api.zgbjol.easypanel.host/reconciliation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"days\": 7}",
        "options": {}
      },
      "id": "run-reconciliation",
      "name": "3. Executar Conciliação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 300],
      "credentials": {"httpHeaderAuth": {"id": "API_KEY_CREDENTIAL_ID", "name": "ML-MP API Key"}}
    },
    {
      "parameters": {
        "conditions": {"number": [{"value1": "={{ $json.divergent || 0 }}", "operation": "larger", "value2": 0}]}
      },
      "id": "check-divergences",
      "name": "4. Tem Divergências?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "fromEmail": "sistema@conciliacao.app",
        "toEmail": "joaopaulorocha@live.com",
        "subject": "⚠️ Divergências Encontradas - Conciliação ML/MP",
        "emailType": "html",
        "html": "<h2>Divergências Encontradas!</h2><p>A conciliação encontrou <strong>{{ $json.divergent }}</strong> divergência(s).</p><h3>Resumo:</h3><ul><li>Conciliados: {{ $json.matched }}</li><li>Não encontrados: {{ $json.unmatched }}</li><li>Divergentes: {{ $json.divergent }}</li></ul>"
      },
      "id": "send-email-alert",
      "name": "5. Enviar Email de Alerta",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1500, 200],
      "credentials": {"smtp": {"id": "SMTP_CREDENTIAL_ID", "name": "SMTP"}}
    },
    {
      "parameters": {},
      "id": "no-action",
      "name": "Tudo OK - Sem divergências",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1500, 400]
    }
  ],
  "connections": {
    "Executar a cada 6 horas": {"main": [[{"node": "1. Sincronizar Pedidos ML", "type": "main", "index": 0}]]},
    "1. Sincronizar Pedidos ML": {"main": [[{"node": "2. Sincronizar Movimentos MP", "type": "main", "index": 0}]]},
    "2. Sincronizar Movimentos MP": {"main": [[{"node": "3. Executar Conciliação", "type": "main", "index": 0}]]},
    "3. Executar Conciliação": {"main": [[{"node": "4. Tem Divergências?", "type": "main", "index": 0}]]},
    "4. Tem Divergências?": {"main": [[{"node": "5. Enviar Email de Alerta", "type": "main", "index": 0}], [{"node": "Tudo OK - Sem divergências", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "triggerCount": 1
}
