n8n-workflow-google-sheets.json
{
  "name": "Relatório Diário → Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Todo dia às 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://n8n-conciliacao-api.zgbjol.easypanel.host/reports/order-fees?startDate={{ $now.minus({days: 1}).toFormat('yyyy-MM-dd') }}&endDate={{ $now.toFormat('yyyy-MM-dd') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http-get-report",
      "name": "Buscar Relatório",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID",
          "name": "x-api-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrai os dados do relatório\nconst response = $input.first().json;\n\nif (!response.success || !response.data) {\n  return [{ json: { error: 'Sem dados' } }];\n}\n\n// Formata cada pedido para o Google Sheets\nconst rows = response.data.map(order => ({\n  data: new Date().toISOString().split('T')[0],\n  pedido_id: order.orderId,\n  valor_bruto: order.totalAmount || 0,\n  taxa_ml: order.mlFee || 0,\n  taxa_mp: order.mpFee || 0,\n  frete: order.shippingCost || 0,\n  valor_liquido: order.netAmount || 0,\n  percentual_taxas: order.feePercentage || 0\n}));\n\nreturn rows.map(row => ({ json: row }));"
      },
      "id": "code-format",
      "name": "Formatar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "Salvar no Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1000, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Todo dia às 8h": {
      "main": [
        [
          {
            "node": "Buscar Relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Relatório": {
      "main": [
        [
          {
            "node": "Formatar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Dados": {
      "main": [
        [
          {
            "node": "Salvar no Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
